<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>2021-2022 NBA Players Statistics</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/styles/main.css" rel="stylesheet"/>

</head>
<body>
<div class="wrapper" style="text-align:center">
    <div class="link">
        <a href="/"><h1 class="center">2021-22 Hollinger Advanced NBA Player Statistics</h1></a>
    </div>

    <a href="/teams">
        <button type="submit" id="switch" class="btn btn-secondary">TEAMS</button>
    </a>


    <table id="table_player" class="display nowrap dataTable dtr-inline collapsed table table-sm"
           style="width: 100%; position: relative">
        <thead>
        <tr>
            <th id="player_name" scope="col">NAME</th>
            <th id="player_gp" scope="col">GP</th>
            <th id="player_min" scope="col">MIN</th>
            <th id="player_ts" scope="col">TS%</th>
            <th id="player_ar" scope="col">AR</th>
            <th id="player_tr" scope="col">TR</th>
            <th id="player_per" scope="col">PER</th>
            <th id="player_wa" scope="col">WA</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player: ${allPlayers}">
            <td th:text="${player.playerName}"></td>
            <td th:text="${player.gamesPlayed}"></td>
            <td th:text="${player.minutesAverage}"></td>
            <td th:text="${player.trueShooting}"></td>
            <td th:text="${player.assistRatio}"></td>
            <td th:text="${player.turnoverRatio}"></td>
            <td th:text="${player.playerEfficiencyRating}"></td>
            <td th:text="${player.winsAdded}"></td>
        </tr>
        </tbody>
    </table>
    <div class="table_key">
        <ul>
            Table Key:
            <li><span style="font-weight:bold">GP: </span>Games Played |</li>
            <li><span style="font-weight:bold">MIN: </span>Minutes Average |</li>
            <li><span style="font-weight:bold">TS: </span>True Shooting |</li>
            <li><span style="font-weight:bold">AR: </span>Assist Ratio |</li>
            <br>
            <li><span style="font-weight:bold">TR: </span>True Shooting % |</li>
            <li><span style="font-weight:bold">PER: </span>Player Efficiency Rating |</li>
            <li><span style="font-weight:bold">WA: </span>Wins Added</li>
        </ul>
    </div>
</div>
</body>
<script>

        $(document).ready(function() {
        var table = $('#table_player').DataTable( {
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    } );
} );


</script>
</html>