<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>2021-2022 NBA Team Statistics</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/styles/main.css" rel="stylesheet"/>

</head>
<body>
<div class="wrapper" style="text-align:center">
    <div class="link">
        <a href="/"><h1 class="center">2021-22 Hollinger Advanced NBA Team Statistics</h1></a>
    </div>


    <a href="/players">
        <button type="submit" id="switch" class="btn btn-secondary">PLAYERS</button>
    </a>


    <table id="table_id" class="display nowrap dataTable dtr-inline collapsed table table-sm" style="width: 100%; position: relative">
        <thead>
        <tr>
            <th id="team" scope="col">TEAM</th>
            <th id="off" scope="col">OFF</th>
            <th id="def" scope="col">DEF</th>
            <th id="efg" scope="col">EFG</th>
            <th id="ts" scope="col">TS</th>
            <th id="reb" scope="col">REB</th>
            <th id="ar" scope="col">AR</th>
            <th id="tr" scope="col">TR</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team: ${allTeams}">
            <td th:text="${team.teamName}"></td>
            <td th:text="${team.offensiveEfficiency}"></td>
            <td th:text="${team.defensiveEfficiency}"></td>
            <td th:text="${team.effectiveFieldGoalPercentage}"></td>
            <td th:text="${team.trueShooting}"></td>
            <td th:text="${team.reboundRate}"></td>
            <td th:text="${team.assistRatio}"></td>
            <td th:text="${team.turnoverRatio}"></td>
        </tr>
        </tbody>
    </table>
    <div class="table_key">
        <ul>
            Table Key:
            <li><span style="font-weight:bold">OFF: </span>Offensive Efficiency |</li>
            <li><span style="font-weight:bold">DEF: </span>Defensive Efficiency |</li>
            <li><span style="font-weight:bold">EFG: </span>Effective Field Goal Percentage |</li>
            <li><span style="font-weight:bold">TS: </span>True Shooting % |</li>
            <br>
            <li><span style="font-weight:bold">REB: </span>Rebound Rate |</li>
            <li><span style="font-weight:bold">AR: </span>Assist Ratio |</li>
            <li><span style="font-weight:bold">TR: </span>Turnover Ratio</li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        var table = $('#table_id').DataTable( {
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    } );
} );



</script>
</html>