@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

@media (min-width: 551px) {
* {
  box-sizing: border-box;
   padding: 0;
   margin: 0;

}
body {
    background-color: #F1FAEE;
}

h1.center {
    font-family: 'Karla', sans-serif;
}

.my-btn {
    color: #F32C52;
}

.my-btn {
  display: inline-block;
  font-weight: 400;
  color: #F32C52;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
}

.my-btn-secondary {
  color: #fff;
  background-color: #F32C52;
  border-color: #F32C52;
}

.my-btn:hover {
  color: #F32C52;
  text-decoration: none;
}

.my-btn-secondary:hover {
  color: #fff;
  background-color: #F32C52;
  border-color: #F32C52;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 100px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-justify: auto;
}

li {
    display: inline;
}

.table_key {
    text-align: center;
}
.link a{
   color: #000000;
   text-decoration: none;
   background-color: none;
}
}


@media (max-width: 550px) {
body {
    background-color: #F1FAEE;
}

h1.center{
 text-align: center;
 font-family: 'Karla', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.wrapper {
    height: auto;
}

img {
    width: 100px;
    margin-bottom: 10px;
}

li {
    display: inline;
}
.link a{
   color: #000000;
   text-decoration: none;
   background-color: none;
}
}
