@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@media (min-width: 551px) {
* {
  box-sizing: border-box;
   padding: 0;
   margin: 0;

}
body {
    background-color: #dfdfdf;
}

.center {
    font-family: 'Staatliches', cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 100px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-justify: auto;
}

li {
    display: inline;
}

.table_key {
    text-align: center;
}
.link a{
   color: #000000;
   text-decoration: none;
   background-color: none;
}
}


@media (max-width: 550px) {
body {
    background-color: #dfdfdf;
}

.center{
 text-align: center;
 font-family: 'Staatliches', cursive;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.wrapper {
    height: auto;
}

img {
    width: 100px;
    margin-bottom: 10px;
}

li {
    display: inline;
}
.link a{
   color: #000000;
   text-decoration: none;
   background-color: none;
}
}
